
p{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size:120%;
  padding-left: 5%;
  padding-right: 5%;
  text-indent: 5%;
}
h1{
    font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
h2{
    font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.div1{
    background-color: yellow;
}
ul{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
body {
    background-color: greenyellow;
}
nav{
    background-color: green;
}
table{
    color:brown;
    background-color: aqua;
}
